<body id="app-info">
<!-- Google Tag Manager -->
<%= render :partial => "layouts/noscript" %>
<%= javascript_include_tag 'gtm.js' %>
<!-- End Google Tag Manager -->

<%= javascript_include_tag 'terms_index.js' %>

    <ons-page>
        <ons-toolbar>
            <div class="left"><ons-button onclick="location.href='area'" modifier="quiet"><ons-icon icon="fa-angle-left" size="36px"></ons-icon></ons-button></div>
            <div class="center i18ntext" data-i18n="701"></div>
        </ons-toolbar>
      	
        <div class="logo-box">
        	<img src="img/app-logo.png" width="64%" alt="Japan Indoor Map" />
        	<!-- img src="img/app-logo-cha.svg" width="80%" alt="JMAP-CHA" / -->
        </div>
        
        <style type="text/css">
        </style>
        
        <div class="info-box terms i18ntext">
        	<dl>
            	<dt data-i18n="702"></dt>
                <dd>
                		<div data-i18n="703"></div>
						<br/>
                		<div data-i18n="711" class="head"></div>
                		<div data-i18n="712"></div>
						<br/>
                		<div data-i18n="721" class="head"></div>
                		<div data-i18n="722"></div>
                		<div data-i18n="723"></div>
						<br/>
                		<div data-i18n="731" class="head"></div>
                		<div data-i18n="732"></div>
                		<ol class="innerList">
                			<li><span class="number">（１）</span><span data-i18n="733"></span></li>
                			<li><span class="number">（２）</span><span data-i18n="734"></span></li>
                			<li><span class="number">（３）</span><span data-i18n="735"></span></li>
                			<li><span class="number">（４）</span><span data-i18n="736"></span></li>
                		</ol>
						<br/>
                		<div data-i18n="741" class="head"></div>
                		<div data-i18n="742"></div>
                		<ol class="innerList">
                			<li><span class="number">（１）</span><span data-i18n="743"></span></li>
                			<li><span class="number">（２）</span><span data-i18n="744"></span></li>
                			<li><span class="number">（３）</span><span data-i18n="745"></span></li>
                			<li><span class="number">（４）</span><span data-i18n="746"></span></li>
                		</ol>
                		<div data-i18n="747"></div>
						<br/>
                		<div data-i18n="751" class="head"></div>
                		<div data-i18n="752"></div>
                		<div data-i18n="753"></div>
                		<div data-i18n="754"></div>
						<br/>
                		<div data-i18n="761" class="head"></div>
                		<div data-i18n="762"></div>
						<br/>
                		<div data-i18n="771" class="head"></div>
                		<div data-i18n="772"></div>
						<br/>
                		<div data-i18n="781" class="head"></div>
                		<div data-i18n="782"></div>
                		<div data-i18n="783"></div>
                		<div data-i18n="784"></div>
						<br/>
                		<div data-i18n="791"></div>
				</dd>
            </dl>
        </div>
    </ons-page>
</body>
